#include <stdio.h>

void hello();
int sum(int a, int b);

int main() {
    hello();
    int result = sum(5, 10);
    printf("Sum: %d\n", result);
    return 0;
}

void hello();
int sum(int a, int b);
